---
const base = import.meta.env.BASE_URL;
---

<label for="color-scheme-toggle">
  <img
    src={`${base}/icons/DarkMode_Icon_Off.svg`}
    alt="Toggle Dark mode"
    width="20"
    height="20"
  />
  <input type="checkbox" name="color-scheme-toggle" id="color-scheme-toggle" />
</label>

<script is:inline>
  const darkToggle = document.getElementById("color-scheme-toggle");
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const savedTheme = localStorage.getItem("theme");

  function toggleApplyTheme(theme) {
    const isDark = theme === "dark";
    document.documentElement.classList.toggle("dark-mode", isDark);
    darkToggle.checked = isDark;
  }

  const initialTheme = savedTheme || (prefersDark ? "dark" : "light");
  toggleApplyTheme(initialTheme);

  if (darkToggle) {
    darkToggle.addEventListener("change", () => {
      const newTheme = document.documentElement.classList.contains("dark-mode")
        ? "light"
        : "dark";
      toggleApplyTheme(newTheme);
      localStorage.setItem("theme", newTheme);
    });
  }
</script>

<style lang="scss">
  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    display: none;
  }

  img {
    margin-bottom: 0;

    :root.dark-mode & {
      filter: invert(1);
    }
  }
</style>
