---
import { getCollection } from "astro:content";

const { pathname } = Astro.url;
const fonts = (await getCollection("fonts"))
  .sort((a, b) => b.data.navSort - a.data.navSort)
  .reverse();
---

<nav>
  <a href={"/bresetype-website"}>Alex Blattmann</a>
  {
    fonts.map((font: any) => (
      <a
        href={`/bresetype-website/fonts/${font.id}`}
        class:list={["nav-item", { active: pathname.includes(font.id) }]}
      >
        {font.data.title}
      </a>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    gap: 1em;
    padding-top: 2lh;
    padding-top: 2rlh;
    padding-bottom: 1lh;
  }
  .nav-item.active {
    text-decoration: underline;
  }
</style>
