---
import { getCollection } from "astro:content";

const { pathname } = Astro.url;
const fonts = (await getCollection("fonts"))
  .sort((a, b) => b.data.navSort - a.data.navSort)
  .reverse();
---

<nav>
  <a href={"/"}>Alex Blattmann</a>
  {
    fonts.map((font: any) => {
      const className =
        "nav-item " + (pathname.includes(font.id) ? "active" : "");
      return (
        <a href={`/fonts/${font.id}`} class={className}>
          {font.data.title}
        </a>
      );
    })
  }
</nav>

<style>
  nav {
    display: flex;
    gap: 1em;
    padding-bottom: 1lh;
  }
  .nav-item.active {
    color: black;
    background-color: white;
  }
</style>
