---
interface Props {
  fontFamily: string;
  fontSize?: string;
  color?: string;
  fontFeatureSettings?: string;
  fontVariationSettings?: string;
  columns?: number;
  alignment: "left" | "center" | "right";
}

const {
  fontFamily,
  fontSize = 16,
  color = "var(--color-text)",
  columns = 1,
  alignment = "left",
  fontFeatureSettings,
  fontVariationSettings,
} = Astro.props;
---

<div class="specimen" contenteditable="">
  <slot />
</div>

<style
  lang="scss"
  define:vars={{
    columns,
    fontFamily,
    fontSize,
    alignment,
    color,
    fontFeatureSettings,
    fontVariationSettings,
  }}
>
  .specimen {
    outline: none;
  }

  :global(p) {
    color: var(--color);
    margin: 0;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    text-align: var(--alignment);
    columns: var(--columns);
    word-break: break-word;
    font-feature-settings: var(--fontFeatureSettings);
    font-variation-settings: var(--fontVariationSettings);
    &::selection {
      color: Canvas;
      background-color: var(--color);
    }
  }
</style>
