---
interface Props {
  fontFamily: string;
  fontSize?: string;
  color?: string;
  columns?: number;
  alignment: "left" | "center" | "right";
}

const {
  fontFamily,
  fontSize = 16,
  color = "var(--color-text)",
  columns = 1,
  alignment = "left",
} = Astro.props;
---

<div class="specimen" contenteditable="">
  <slot />
</div>

<style
  lang="scss"
  define:vars={{ columns, fontFamily, fontSize, alignment, color }}
>
  .specimen {
    outline: none;
  }

  :global(p) {
    color: var(--color);
    margin: 0;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    text-align: var(--alignment);
    columns: var(--columns);
    word-break: break-word;
    &::selection {
      color: Canvas;
      background-color: var(--color);
    }
  }
</style>
