---
interface Props {
  fontFamily: string;
  fontSize?: string;
  color?: string;
  alignment: "left" | "center" | "right";
}

const {
  fontFamily,
  fontSize = 16,
  color = "CanvasText",
  alignment = "left",
} = Astro.props;
---

<div
  class="specimen"
  style={`font-family:${fontFamily};font-size:${fontSize};--c:${color};--a:${alignment}`}
  contenteditable=""
>
  <slot />
</div>

<style lang="scss">
  .specimen {
    outline: none;
    color: var(--c);
    text-align: var(--a, left);
    word-break: break-word;
    :global(> *) {
      margin: 0;
    }
  }
  :global(p::selection) {
    color: white;
    background-color: var(--c);
  }
</style>
