---
import Nav from "../components/Nav.astro";

const {
  frontmatter: { title = "Brese", description },
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/main.css" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Nav />
      <h1>{title}</h1>
    </header>
    <main>
      <slot />
    </main>
  </body>

  <style>
    h1 {
      padding-bottom: 1lh;
    }
  </style>
  <link rel="stylesheet" href="https://js.fontdue.com/fontdue.css" />
  <script type="module" is:inline>
    import fontdue from "https://js.fontdue.com/fontdue.esm.js";

    fontdue.initialize({
      url: "https://crucible--test.fontdue.com",
      config: {
        typeTester: {
          size: {
            min: 6,
            max: 480,
            label: "Size",
          },
          selectable: true,
          textInput: false,
          groupEdit: false,
          initialMode: "local",
          shy: true,
          buyButton: true,
          selectButtonLabel: "Buy",
          selectButtonStyle: "outlined",
        },
      },
    });
  </script>
</html>
