body {
  --primary_text_color: var(--color-text);
  xcolor: var(--color-text);
  background-color: var(--color-bg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2lh;
  padding-top: 2rlh;
  padding-bottom: 1lh;
}

fontdue-type-tester {
  p:only-child {
    font-size: attr(font-size);
  }

  p:only-child {
    font-family: "Quince AI";
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size, 172px);
  }

  p:not(:only-child) {
    display: none;
  }
}
