body {
  --primary_text_color: var(--color-text);
  color: var(--color-text);
  background-color: var(--color-bg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2lh;
  padding-top: 2rlh;
  padding-bottom: 1lh;
}
